doctype html
html
  head
    title="account main site"
  body(style="width:800px;margin:50px auto;font-family:Helvetica;background-color:#d3e9f8")
    div.welcome(style="background-color:#FFF;padding:5%")
      h3.recipe Please be welcome in our kitchen. Do not hesitate to leave your recipes here and share it with other fans of good meals.
      img.image(src="https://cdn.stocksnap.io/img-thumbs/960w/RDUYGQAMBL.jpg" style="width:80%;margin:10%")
